# source venv_neuron_segmentation/bin/activate
train: False  # тренировать модель или нет

predict: False  # нужно ли делать предикты нейронкой
start_predictions: "beginning" # или с определенного номера томо сечения
sample_number: 123438  # id-шник для разных образцов мозгов
target_feature: "butterfly"  # detection - обнаружение объекта, butterfly - обнаружение бабочки. Должен совпадать с названием модели (пример: MODEL_batterfly.pth)
device: "server"  # server или laptop. Если laptop, то будут использоваться настройки для сохранения изображений
scale_img: 0.5  # чем ближе к 1, тем гипотетически выше точность, но меньше скорость вычислений
input_tomo_images: "/home/ankhafizov/Desktop/Reconstructions/gecko"  # путь к папке с экспериментальными изображениями
mask_images: "mask_binary_images"  # куда нейронка будет выгружать полученные маски
output_masked_images: "mask_applied"  # где хранить отмаскированные томо изображения

cleaning: False  # нужно ли "заливать дырки" и удалять прочие артефакты в бинарных масках, полученных нейронкой
apply_masks: False

segment_neurons: True
RandomWalker_mask_folder: "neurons_binary_mask"
z_max: 500